streamlit
numpy
sentence-transformers
google-generativeai
PyPDF2
python-docx
spacy
plotly
pandas
# Add the spaCy model link for stable installation in Docker
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
